<div class="card">
  <div class="item-a">
    <header>AALBORG</header>
    <small>Monday</small>
  </div>
  <div class="item-b">
    <i class="fas fa-ellipsis-v"></i>
  </div>
  <div class="item-c">
    <i class="fas fa-cloud"></i>
  </div>
  <div class="item-d">
    <span class="subgrid-item-a">3</span>
    <span class="subgrid-item-b">&#176;C</span>
    <span class="subgrid-item-c">Feels like -1 &#176;</span>
  </div>
  <div class="item-e">
    <ul>
      <li>Percip: 20%</li>
      <li>Humidity: 33%</li>
      <li>Wind: 12m/s</li>
    </ul>
  </div>
  <div class="item-f">
    <div>
      <span class="circle" [ngStyle]="{'background-color': randomNumber > 0.5 ? 'red' : 'grey'}"></span>
    </div>
    <p>Last updated few hours ago</p>
  </div>
</div>
