nav {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #ffffff;
}

header {
  margin-right: 1rem;
}

a {
  margin: 1rem;
  font-size: 1.2rem;
  color: #000000;
  text-decoration: none;
  cursor: auto;
}

a:hover {
  cursor: pointer;
}

.active-link {
  color: salmon;
}
